body {
  color: #222222;
  background-color: #ffffff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* Typography */
.large-p {
  font-size: 1.2rem;
}

/* Header */

header {
  padding: 0 100px;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-txt {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1.2em;
}

nav ul li {
  transition: color 0.2s;
}

nav ul li:hover {
  cursor: pointer;
  color: #45b4de;
}

/* Sections */

section {
  padding: 20px 100px;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.inverse {
  color: #ffffff;
  background: #020b15;
}

.tech-bg {
  background-image: url('images/giphy.gif');
  background-size: cover;
}

/* Habitual Section */
.habitual-section {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "title title"
    "content image";
  gap: 1em 2em;
}

.habitual-title {
  grid-area: title;
}

.habitual-img {
  grid-area: image;
}

/* Hero section */

.hero {
  display: grid;
  grid-template-columns: minmax(50%, 700px) auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero-txt {
  margin: auto 0;
  text-shadow: 1px 1px 10px black;
}

.profile-img {
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px black;
}

.some-wrapper {
  font-size: 2.5rem;
}

/* featured */
.featured-img {
  width: 100%;
  margin-top: 2em;
}

/* Typography */

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 4rem; /* 64px */
}

.regular {
  font-weight: 400;
}

.subheading {
  display: block;
  font-size: 3rem;
}

.lined-heading {
  font-size: 42px;
  border-bottom: 1px solid #a5a5a5;
  padding: 20px 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.small-text {
  font-size: 16px;
  margin-top: 5px;
}

.name, time {
  color: #a5a5a5;
}

.accent-text {
  color: #45b4de;
}

/* Links */
a {
  color: #ff436c;
}

a:hover,
a:focus {
  color: rgb(255, 97, 137);
}

.btn {
  color: #ffffff;
  display: flex;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background: #45b4de;
  text-decoration: none;
  display: inline-block;
  margin-top: 2em;
  margin-right: 1em;
  border-radius: 24px;
  cursor: pointer;
}

.secondary-btn {
  color: #DDD;
  background: #020b15;
  border: 2px solid #AAA;
}

.btn:hover,
.btn:focus {
  background-color: #2ccffd;
}

.secondary-btn:hover,
.secondary-btn:focus {
  background: #03111c;
}

/* Footer */
footer {
  height: 100px;;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utility classes */
.primary {
  color: #45b4de;
}

.centered {
  text-align: center;
}

.center-vertical {
  margin: auto 0;
}